@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: rgb(209, 203, 203);
    width: 10vw;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 30px;
}
.main{
   /* background-color: yellow; */
    width: 90vw;
}
.container{
    display: flex;
}
.infocontainer{
   /* background-color: brown;*/
    height: 78vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 65px;

}
.name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}
.about{
    font-size: 40px;
}